.Dashboard {
    min-height: 89vh;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: 99px;

    .nav-link {
        margin: 0px 10px;
        font-weight: 500;
        font-size: 1.1rem;
    }
}